{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to WindowBlog</h1>
    <p class="lead">This is your journal, your space. Write about anything you
    want and keep it safe, here.</p>
    <p class="lead">
      {% if user.is_authenticated %}
        <a class="btn btn-primary btn-lg" href="{% url 'blogs:blog' %}"
        role="button">See your windows &raquo;</a>
      {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'users:register' %}"
        role="button">Create your private space &raquo;</a>
      {% endif %}
    </p>
  </div>
{% endblock page_header %}

{% block content %}
{% endblock content %}