{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
  <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-success mb-3">Add new entry</a>

    {% for entry in entries %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ entry.date_added|date:'M d, Y H:i' }}
          <span class="float-right">
            <small><a href="{% url 'learning_logs:edit_entry' entry.id %}"
            class="btn btn-warning">edit
            entry</a> - </small> 
            <small>
            <a href={% url 'learning_logs:delete_entry' entry.id %} class="btn
            btn-danger">delete entry</a></small>
          </span>
        </h4>
        <div class="card-body">
          {{ entry.text|linebreaks }}
        </div>
      </div>
    {% empty %}
      <p>There are no entries for this topic yet.</p>
    {% endfor %}
  
  <a href="{% url 'learning_logs:delete_topic' topic.id %}" class="btn btn-danger">Delete topic</a>
{% endblock content %}